<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>User Name</label>
      <input
        [class.is-invalid]="userName.invalid && userName.touched"
        formControlName="userName" 
        type="text" class="form-control">
      <small class="text-danger" *ngIf="userName.errors?.minlength">Username's length should longer than 2</small>
      <small class="text-danger" *ngIf="userName.errors?.required">Username is required</small>
      <small class="text-danger" *ngIf="userName.errors?.forbiddenName">{{userName.errors.forbiddenName.value}} not allowed</small>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input formControlName="email" type="text" class="form-control">
      <small class="text-danger" *ngIf="email.errors?.required">email is required</small>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" formControlName="subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Password Confirm</label>
      <input formControlName="confirmPassword" type="password" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.notMatch">password not match</small>
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">  
      </div>
      <div class="form-group">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Post Code</label>
        <input formControlName="postCode" type="text" class="form-control">
      </div> 
    </div>
    <button class="btn btn-primary" type="submit">Registray</button>
    <button (click)="loadData()" class="btn btn-secondary ml-2">Load Data</button>
  </form>
    {{ registrationForm.value | json }}
</div>